<% if (theme) { %>
<link rel="stylesheet" href="/css/<%= theme %>.css" />
<% } %>
<div class="form">
  <form action="/new/<%= theme %>" method="POST" class="forminput textform">
    <div class="top">
      <div class="section">
        <label for="messageUser">Your Name:</label>
        <input type="text" id="messageUser" name="messageUser" required />
      </div>

      <div class="section">
        <label for="color">Select a color for your username:</label>
        <input type="color" id="color" name="color" value="#ff0000" required />
      </div>
    </div>
    <div class="section messageSection">
      <label for="messageText">Message:</label>
      <textarea id="messageText" name="messageText" required></textarea>
    </div>
    <div class="error-message" id="errorMessage" style="color: red">
      Message cannot exceed 256 characters.
    </div>
    <div class="divider section"></div>
    <div class="preview section">
      <p>Preview:</p>
      <div class="preview-contents individual">
        <strong style="color: red"> beli: </strong>
        <em>hey this is my message!</em>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
<script src="/js/new-message-script.js"></script>
