@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
body {
  font-family: "Roboto Mono", monospace;
  background-image: url("/images/1327980.png");
  background-size: cover;
  background-attachment: fixed;
  padding: 0px;
  margin: 0px;
}

h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

.individual {
  background-color: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #3f3b4f;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.forminput {
  display: flex;
  flex-direction: column;
}
/* new */
.textform {
  display: flex;
  flex-direction: column;
}
.new {
  border-radius: 0.2rem;
  border: 0.1rem solid #3f3b4f;
  padding: 0.3rem;
  background-color: #d59096;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
}
.new:hover {
  background-color: #eebca1;
  transition: background-color 0.3s ease;
}
.divider {
  border-top: 2px solid #333;
}
.top {
  display: flex;
}
.section {
  display: flex;
  flex-direction: column;
}
.content {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(121, 121, 121, 0.5);
  backdrop-filter: blur(20px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}
#color {
  height: 100%;
  width: 20%;
  padding: 0.05rem;
}
h1 {
  box-sizing: border-box;
  margin: 0px;
}
.form {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(121, 121, 121, 0.5);
  backdrop-filter: blur(20px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}
form {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

#heartCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.settings-button {
  display: flex;
  justify-content: flex-end;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.dropdown-menu a:hover {
  background-color: #f1f1f1;
}
.no-scroll {
  display: flex;
  flex-direction: column;
  position: sticky;
  padding-top: 2%;
}
.preview {
  margin-top: 2%;
  margin-bottom: 2%;
}
#messageText {
  margin-bottom: 10px;
}

#settingsIcon {
  cursor: pointer;
}

#loadingScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#loadingScreen.hidden {
  display: none;
}
textarea {
  resize: none;
  overflow: hidden;
}
